.sidebar {
  width: 250px;
  background-color: #75846c;
  height: 95vh;
  padding-top: 20px;
  padding-left: 30px;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.perfil-img {
  width: 78.8px;
  height: 78.8px;
  border-radius: 50%;
  object-fit: cover;
}

.perfil h2 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.perfil span {
  position: relative;
  bottom: 30px;
  font-size: 14px;
  color: #555;
}


.sidebar-link {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  border-radius: 20px;
  transition: background 0.3s;
}

.sidebar-link .icon {
  margin-right: 10px;
}

.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-link.active {
  color: black;
  background-color: white;
  font-weight: bold;
  border-radius: 20px;
  width: 300px;
}


.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  color: white;
  width: 300px;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 5px;
  transition: background 0.2s;
}

.sidebar a:hover {
  background: white;
  color: black;
  border-radius: 20px;
  width: 300px;
  transition: 0.2s ease-in-out;
}
