.admin-container {
    background-color: #75846c;
    display: flex;
    justify-content: center;
  }
  
  .admin-content {
    flex-grow: 3;
    padding: 30px;
    margin: 10px;
    overflow-y: auto;
    overflow-x: auto;
    background-color: white;
    border-radius: 50px;
  }
  