body {
  color: black;
}
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #9daf9e;
  color: rgb(0, 0, 0);
  padding: 20px;
  box-sizing: border-box;
}


.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}


.sidebar ul li a {
    text-decoration: none;
    color: #000000;
    display: block;
    border-radius: 5px;
}

.sidebar ul li:hover {
  background-color: #efefef;
  border-radius: 20px;
  width: 300px;
}

.sidebar ul li.selected {
  background-color: #efefef;
  border-radius: 20px;
  width: 400px;
  font-weight: bold;
}

.Name {
  display: flex;
  padding-left: 50px;
}

.perfil {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.perfil img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.perfil h2 {
  margin: 0;
  font-size: 24px;
}

.perfil span {
  font-size: 16px;
  color: #000000;
}
