.background {
  flex-grow: 1;
}
body {
  background-color: #9daf9e;
}
.lateral {
  display: flex;
  height: 100%;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #efefef;
  padding: 0px 20px;
  border-radius: 60px;
  margin-top: 40px;
}

.navBar h2 {
  font-size: 32px;
  font-weight: normal;
}
.navBar p{
    font-size: 20px;
}

.container-pai {
  background-color: #efefef;
  border-radius: 60px;
  height: 100%;
  padding: 0px 20px;
}

.notif-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Espaçamento entre as notificações */
  padding: 10px;
}

.notifc-content {
  flex: 1; /* Faz o conteúdo ocupar o espaço disponível */
  padding: 10px;
  font-size: 18px;
  background-color: #b8b8b6;
  border-radius: 10px;
  width: 100%;
}
.notifc-content p,
h2 {
  margin-left: 10px;
}

.notif-nivel {
  color: rgb(255, 255, 255);
  float: right;
}
.icon {
  margin: 0px;
  padding: 0px;
  font-size: 80px;
}

.nivel {
  margin: 10px;
}

.nivel p {
  background-color: #d6d6d4;
  display: flex;
  align-items: center; /* Alinha o ícone com o texto */
  margin: 5px 0 15px 0px;
  padding: 5px;
  height: 50px;
  font-weight: bold;
}

#ExU,
#ExA,
#ExS {
  margin: 10px;
}

#ExU {
  color: white;
  background-color: #b92922;
}

#ExA {
  color: white;
  background-color: #de8b1c;
}

#ExS {
  color: white;
  background-color: #3bab64;
}
