.background{
    flex-grow: 1;
    padding: 20px;
    background-color: #627961;
}

.lateral{
    display: flex;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #efefef;
    padding: 0px 20px;
    border-radius: 40px 40px 0 0;
}

.navBar h2{
    font-size: 32px;
}

.container-pai{
    background-color: #efefef;
    border-radius: 40px 40px 40px 40px;
    height: 870px;
}

.body{
    background-color: #efefef;
    height: 100px;
    margin: 30px;
}

#titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #efefef;
    padding: 15px 20px;
}


.notif-container{
    background-color: #b8b8b6;
    margin: 20px;
    padding: 2px 5px 5px 15px ;
}

.notif-container h2{
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 20px;
}

.notif-container p{
    margin: 5px;
    font-size: 15px;
}

.nivel{
    font-weight: bold;
    font-size:15px;
    margin: 20px 20px 5px 20px;
}
.nivel p {
    background-color:#d6d6d4 ;
    padding: 10px;
}

img{
height: 50px;
width: 50px;
}

#ExU{
    background-color: #b92922;
    color: white;
    height: 30px;
    width: 30px;
}

#ExA{
    background-color: #de8b1c;
    color: white;
    height: 30px;
    width: 30px;

}

#ExS{
    background-color: #3bab64;
    color: white;
    height: 30px;
    width: 30px;
    float: left;
}