.background{
    flex-grow: 1;
    background-color: #627961;
}

.lateral{
    display: flex;
    height: 100%;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #efefef;
    padding: 0px 20px;
    border-radius: 60px;
    margin-top: 40px;
}

.navBar h2{
    font-size: 32px;
}

.container-pai{
    background-color: #efefef;
    border-radius: 60px;
    height: 1400px;
    padding: 0px 20px;
}

.notif-container {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: space-between; /* Espaço entre o conteúdo e o ícone */
    margin-bottom: 10px; /* Espaçamento entre as notificações */
    padding: 10px;
}

.notifc-content {
    flex: 1; /* Faz o conteúdo ocupar o espaço disponível */
    background-color: #b8b8b6;
}

.notif-nivel {
    
    display: flex;
    align-items: center; /* Alinha o ícone com o texto */
    margin-left: 10px; /* Espaçamento entre o conteúdo e o ícone */
}

.icon-container-right {
    display: flex;
    align-items: center; /* Alinha o ícone com o texto */
}

.nivel p {
    background-color: #b8b8b6;
    display: flex;
    align-items: center; /* Alinha o ícone com o texto */
    margin: 5px 0;
    
}

#ExU, #ExA, #ExS {
    font-size: 30px;
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}